@page "/AddProduct"
@using BlazorApi.Repository.Domain
<h5 class="p-2">Add Product</h5>
<EditForm Model="@model" OnValidSubmit="OnValidSubmit">
    <DataAnnotationsValidator />
    <MudGrid>
        <MudItem xs="12" sm="7">
            <MudCard>
                <MudCardContent>
                 @*    <MudTextField Label="Code" HelperText="Max. 8 characters"
                                  @bind-Value="model.Code" />
                    <MudTextField Label="Name" Class="mt-3"
                                  @bind-Value="model.Name" />
                    <MudTextField Label="Description" Class="mt-3"
                                  @bind-Value="model.Description" />
                    <MudTextField Label="StartDate" Class="mt-3"
                                  @bind-Value="model.StartDate" /> *@
                    <MudTextField ShrinkLabel @bind-Value="model.Code" Label="Code" Variant="Variant.Text" class="p-2"></MudTextField>
                    <MudTextField ShrinkLabel @bind-Value="model.Name" Label="Name" Variant="Variant.Text" class="p-2"></MudTextField>
                    <MudTextField ShrinkLabel @bind-Value="model.Description" Label="Description" Variant="Variant.Text" class="p-2"></MudTextField>
                    <MudTextField ShrinkLabel @bind-Value="model.StartDate" Label="StartDate" Variant="Variant.Text" class="p-2"></MudTextField>
                    <MudTextField ShrinkLabel @bind-Value="model.EndDate" Label="EndDate" Variant="Variant.Text" class="p-2"></MudTextField>


                   @*  <MudInputLabel>Code </MudInputLabel>           
                    <MudTextField @bind-Value="model.Code"
                                  For="@(() => model.Code)"
                                  Immediate="true"
                                  />
                    <MudInputLabel>Name </MudInputLabel>
                    <MudTextField @bind-Value="model.Name"
                                  For="@(() => model.Name)"
                                  Immediate="true"
                                  />
                    <MudInputLabel>Description</MudInputLabel>
                    <MudTextField @bind-Value="model.Description"
                                  For="@(() => model.Description)"
                                  Immediate="true"
                                   />
                    <MudInputLabel> Start Date  </MudInputLabel>
                    <MudTextField @bind-Value="model.StartDate"
                                  For="@(() => model.StartDate)"
                                  Immediate="true"
                                   /> *@



                </MudCardContent>
                <MudCardActions>
                    <MudButton Variant="Variant.Outlined" Color="Color.Dark" Class="ml-auto" Href="/ProductList">
                       Cancel
                    </MudButton>
                   <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Dark" Class="m-2">Register</MudButton>
                </MudCardActions>
            </MudCard>
        </MudItem>
    </MudGrid>

</EditForm>


@code {
    private ProductDto model = new ProductDto();
    public Task OnValidSubmit(EditContext context)
    {
        throw new Exception();
    }
}