@page "/ProductList"
@using BazorApi.ApiControl
@using BazorApi.Model

<h3>Product List</h3>
@inject IApiCall apicall

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Code</th>
            <th>Description</th>
            <th>StartDate</th>
            <th>EndDate</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if(product is not null)
        {
            foreach(var inv in product)
            {
                <tr>
              <td>@inv.Name</td>
              <td>@inv.Code</td>
              <td>@inv.Description</td>
              <td>@inv.StartDate</td>
              <td>@inv.EndDate</td>
              </tr>
            }
        }
    </tbody>
</table>

@code {
    private List<ProductCollection>? product;

    protected override async Task OnInitializedAsync()
    {
         product = await apicall.GetProduct();
    }
}