@page "/ProductList"
@using BazorApi.ApiControl
@using BazorApi.Model
@inject NavigationManager Navigation
@inject IApiCall apicall

<style>
    .button-container {
        display: flex;
        justify-content: flex-end;
        margin-bottom: 10px; /* Optional: adds space between the button and the table */
    }
</style>
<h3>Product List</h3>
<div class="button-container">
    <NavLink class="btn btn-dark" href="/AddProduct">Add Product</NavLink>
</div>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Code</th>
            <th>Description</th>
            <th>StartDate</th>
            <th>EndDate</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if(product is not null)
        {
            foreach(var inv in product)
            {
                <tr>
              <td>@inv.Name</td>
              <td>@inv.Code</td>
              <td>@inv.Description</td>
              <td>@inv.StartDate</td>
              <td>@inv.EndDate</td>
              </tr>
            }
        }
    </tbody>
</table>

@code {
    private List<ProductCollection>? product;

    protected override async Task OnInitializedAsync()
    {
         product = await apicall.GetProduct();
    }
}